<!DOCTYPE html>

<html>
<head>
    <title>Lainfile - About</title>
    <meta name=viewport content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/style.css">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/static/favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/static/favicons/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/static/favicons/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicons/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/static/favicons/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16.png">
    <link rel="apple-touch-icon" href="/static/favicons/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicons/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicons/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicons/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicons/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicons/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
</head>

<body>
    <h1>About</h1>

    <p class="box">Lainfile is a simple file uploading website, written from scratch in Rust using Iron and Redis. It has some cool unique features, and it's cyb as fuck.</p>

    <p class="box">The source code is available at <a href="https://gitla.in/installgen2/flup">gitla.in/installgen2/flup</a>, it's pretty shit but I'll improve it soon. All the technical details of the software is available there too.</p>

    <p class="box">I made a tool called <a href="https://www.npmjs.com/package/lainup">lainup</a> for uploading and stuff, just run <code>npm install -g lainup</code>, and <code>lainup help</code>.</p>

    <p class="box">I no longer have any plans to leave CloudFlare (despite the issues I have had wit them already), as it has proven too useful and I am too poor to run this without it</p>

    <p class="box">If you have found a file which you believe should be removed, please email me at <a href="mailto:gen2@kek.club">gen2@kek.club</a>. Please note I will not remove any files unless I am obligated to, for legal reasons, to remain off blacklists, or because I am required to by CloudFlare or DigitalOcean. A full list of removed files and their reasons will be available on <a href="/deletion_log">/deletion_log</a>.</p>

    <img src="/static/anime.png" id="anime">

    <script src="/static/script.js"></script>
</body>
</html>
