<!DOCTYPE html>

<html>
<head>
    <title>Lainfile - About</title>
    <meta name=viewport content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/style.css">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/static/favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/static/favicons/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/static/favicons/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicons/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/static/favicons/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16.png">
    <link rel="apple-touch-icon" href="/static/favicons/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicons/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicons/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicons/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicons/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicons/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
</head>

<body>
    <h1>About</h1>
    <hr>

    <h2 id="info">Info</h3>
    <div class="box">
        <p>Lainfile is a simple file uploading website, written from scratch in Rust using Iron and Redis. It has some cool unique features, and it's cyb as fuck.</p>
    </div>

    <div class="box">
        <p>The source code is available at <a href="https://gitla.in/installgen2/flup">gitla.in/installgen2/flup</a>, it's pretty shit but I'll improve it soon. All the technical details of the software is available there too.</p>
    </div>

    <h2 id="rules">Rules</h3>
    <div class="box">
        <ul>
            <li>1. No nude depictions of chilren, even if not considered pornography by US law.</li>
            <li>2. Nothing in violation of US law.</li>
            <li>3. No malware or phishing pages</li>
            <li>4. Just don't be a cock tbh</li>
        </ul>

        <p>If you're a cheeky cunt I'll just add a new rule just so you know...</p>
    </div>

    <div class="box">
        <p>Depending on the severity, breaking a rule may result in me reporting your IP and other information to the respective authorities.</p>

        <p>tl;dr pedos watch out for partyvan :-DDDDdd</p>
    </div>

    <h2 id="removal">Removal</h3>
    <div class="box">
        <p>If you have found a file in violation of Lainfile's <a href="/about#rules">Rules</a> (this includes phishing, malware, etc), please email me at <a href="mailto:gen2@kek.club">gen2@kek.club</a>, and I will try to remove it and get back to you as soon as possible.</p>
    </div>

    <div class="box">
        <p>A full list of removed files and their reasons will be available on <a href="/deletion_log">/deletion_log</a>. Please note I will only delete files if they are in violation of Lainfile's rules, which must also abide by my domain registar, and hosting provider's rules.</p>
    </div>

    <h2 id="tools">Tools</h3>
    <div class="box">
        <p>I made a tool called <a href="https://www.npmjs.com/package/lainup">lainup</a> for uploading and stuff, just run <code>npm install -g lainup</code>, and <code>lainup help</code>.</p>
    </div>

    <div class="box">
        <p>All regular Pomf tools should work, as Lainfile entirely replicates their API. Just configure the API endpoint to be <code>https://lainfile.pw</code>, Lainfile even accepts requests to <code>/upload.php</code>, if your stupid tool looks for it.</p>
    </div>

    <h2 id="notes">Notes</h3>
    <div class="box">
        <p>I no longer have any plans to leave CloudFlare (despite the issues I have had with them already), as it has proven too useful and I am too poor to run this without it</p>
    </div>

    <img src="/static/anime.png" id="anime">

    <script src="/static/script.js"></script>
</body>
</html>
