<!DOCTYPE html>

<html>
<head>
  <title>Lainfile</title>
  <meta name=viewport content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <div id="wrapper">
    <h1>oh fuck</h1>

    <p>{{error}}</p>

    <img src="/static/anime.png" id="anime">
  </div>
</body>
</html>
