<!DOCTYPE html>

<html>
<head>
    <title>Lainfile</title>
    <meta name=viewport content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1 id="header">ｗｉｒｅｄ</h1>

    <form action="/" method="post" enctype="multipart/form-data">
        <div class="box">
            <span class="no-highlight">Description (optional):</span>
            <br>
            <input type="text" name="desc" id="desc-input">

            <br>
            <br>

            <span class="no-highlight">Show on public list:</span>
            <input type="checkbox" name="public" id="public-toggle">
            <label for="public-toggle" class="no-highlight checkbox-wrapper"></label>

            <br>

            <span class="no-highlight">Hide upload's filename:</span>
            <input type="checkbox" name="nofilename" id="nofilename-toggle">
            <label for="nofilename-toggle" class="no-highlight checkbox-wrapper"></label>
        </div>

        <div class="box">
            <input type="file" name="files[]" id="file-select" multiple>
        </div>

        <input type="submit" value="Upload!" id="upload">
    </form>

    <h5><a href="/about">about page</a></h5>

    <img src="/static/anime.png" id="anime">

    <footer>There are currently {{ uploads_count }} uploads, and {{ public_uploads_count }} <a href="uploads">public uploads</a>!</footer>

    <script src="/static/script.js"></script>
</body>
</html>
