body {
    text-align: center;
    background: #111;
    color: #CCC;
    width: 400px;
    margin: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*::-moz-selection {
    color: #CCC;
    background: #595;
}

*::selection {
    color: #CCC;
    background: #195;
}

ul {
    text-align: left;
}

footer {
    height: 20px;
}

a, a:visited {
    color: #195;
}

input[type="text"] {
    background: #CCC;
    color: #111;
    border: none;
    border-radius: 2px;
    padding: 0 2px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + label {
    background: #595;
}

label.checkbox-wrapper {
    height: 16px;
    width: 16px;
    margin: 4px;
    background: #CCC;
    display: inline-block;
    margin-bottom: -3px;
    border-radius: 3px;
}

.no-highlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box::before {
    height: 20px;
    display: block;
    content: "";
    background: #195;
    margin-bottom: 10px;
}

.box {
    background: #222;
    margin: 20px 0;
    border-radius: 3px;
    padding: 10px;
}

.break {
    word-wrap: break-word;
}

#header {
    color: #195;
    font-size: 80px;
    font-weight: 500;
    line-height: 1;
    margin: 20px 0 40px;
}

#anime {
    height: 300px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}

#anime:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}

#upload {
    background: #195;
    color: #EEE;
    width: 150px;
    height: 50px;
    display: inline-block;
    border-radius: 3px;
    line-height: 3;
    border: none;
    margin: 10px;
}
